 <!-- Footer -->
 <footer id="footer" class="bg-black-222">
    <div class="container pt-70 pb-30 hideFooter">
      <div class="row border-bottom-black ">
        <div class=" col-sm-8 col-md-4">
          <div class="widget dark">
            <img class="mb-20" alt="" src="assets/images/logo-wide.png">
            <p>Lorem ipsum dolor sit amet, consecte tur adipisi cing elit lestias eius illum libero dolor nobis deleniti.</p>
            <p>203, Envato Labs, Behind Alis Steet, Melbourne, Australia.</p>
            <ul class="list-inline mt-5">
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">123-456-789</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">contact@yourdomain.com</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"></i> <a class="text-gray" href="#">www.yourdomain.com</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Useful Links</h5>
            <ul class="list angle-double-right list-border">
              <li><a href="#">Body Building</a></li>
              <li><a href="#">Fitness Classes</a></li>
              <li><a href="#">Weight lifting</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="widget dark col-sm-6 col-md-12">
              <h5 class="widget-title mb-10">Subscribe Us</h5>
              <!-- Mailchimp Subscription Form Starts Here -->
              <form id="mailchimp-subscription-form-footer" class="newsletter-form">
                <div class="input-group">
                  <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;">
                  <span class="input-group-btn">
                    <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0 font-14" type="submit">Subscribe</button>
                  </span>
                </div>
              </form>
              
            </div>
                <div class="widget dark col-sm-6 col-md-12">
                  <h5 class="widget-title mb-10">Connect With Us</h5>
                  <ul class="styled-icons icon-dark icon-circled icon-sm">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
          </div>
      </div>
  
    </div>
    <div class="footer-bottom bg-black-333">
      <div class="container pt-20 pb-20 ">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 ">
            <p class="font-11 text-black-777 m-0 sm-text-center ">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Help Desk</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Support</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>