.chatdiv{
    background: #333;
    color: #fff;
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    min-width: 250px;
    z-index: 9999;
    max-height: 700px;
    overflow-y: scroll;

    
}

.closebtn {
    position: absolute;
    top: 0;
    left: 2px;
    margin-bottom:25px;
    font-size: 30px;
    margin-right: 50px;
    color: #fff;
}
.message {
    border-radius: 50px;
    margin: 15px 20px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #65c178;
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}