

    <!-- Section: inner-header -->
    

                <form (ngSubmit)="changePwd(form_change)" [formGroup]="form_change">
                <div class="" >
                  <div class="shipping-details">
                    <h3 class="mb-30"> Change your password !</h3>
                      <div class="form-group" [ngClass]="displayFieldCss('oldPwd')">
                        <label for="checkuot-form-email">Old password</label>
                        <input formControlName="oldPwd" id="checkuot-form-email"  type="password"  class="form-control" placeholder="Type your old password">
                        <app-field-error 
                          [displayError]="isFieldValid('oldPwd')" 
                          *ngIf="oldPwd?.errors?.required"
                          errorMsg="This field is required">
                        </app-field-error>
                        <app-field-error 
                        [displayError]="isFieldValid('oldPwd')" 
                        *ngIf="oldPwd?.errors?.minlength"
                        errorMsg="8 caracters obligatory">
                      </app-field-error>
                      </div>
                      <div class="form-group col-md-6" style="left: -3%;" [ngClass]="displayFieldCss('oldPwd')">
                        <label for="checkuot-form-address">New password</label>
                        <input formControlName="newPwd"  id="checkuot-form-address" id="new" type="password" class="form-control" placeholder="Type your new password">
                        <app-field-error 
                        [displayError]="isFieldValid('newPwd')" 
                        *ngIf="newPwd?.errors?.required"
                        errorMsg="This field is required">
                      </app-field-error>
                        <app-field-error 
                          [displayError]="isFieldValid('newPwd')" 
                          *ngIf="newPwd?.errors?.minlength"
                          errorMsg="8 caracters obligatory">
                      </app-field-error>
                      </div>
                      <div class="form-group col-md-6" style="right: -3%;">
                        <label for="checkuot-form-address"></label>
                        <input  id="checkuot-form-address" type="password" id="state"  class="form-control" placeholder="Confirm your password" style="margin-top: 2%;">
                      </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6 form-group" style="margin-left: 53%;">
                        <input class="btn btn-flat btn-theme-colored text-uppercase mt-20 mb-sm-30 border-left-theme-color-2-4px" type="submit" value="Save" style="margin-left: 55%;">
                    </div>
                    
                </div>
                  
                <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                
                  
                
                </div>
            </form>
   

    
