<style>
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .step.active {
    opacity: 1;
  }
</style>
<app-header></app-header>
<!-- Start main-content -->
<div class="main-content">
<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-white-8" style="background-image: url(../../../assets/images/bg/bg6.jpg);" data-bg-img="../../../assets/images/bg/bg6.jpg">
  <div class="container pt-60 pb-60">
    <!-- Section Content -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="title">Registration</h2>
          <ol class="breadcrumb text-center text-black mt-10">
            <li><a href="#">Home</a></li>
            <li class="active text-theme-colored">Registration</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-content">
      <div class="row vdivide">
            <form>
            <div class="" style="right: -3%;">
              <div class="shipping-details" style="width: 572px;
              margin-left: 23%;">
                <h3 class="mb-30"> Choose your image !</h3>
                  
                <div class="float-label-control"> 
                  <!--<p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" 
                          multiple="multiple" accept="image/*" maxFileSize="1000000">
                      <ng-template pTemplate type="content">
                          <ul *ngIf="uploadedFiles.length">
                              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                          </ul>
                      </ng-template>        
                  </p-fileUpload>-->
                  
                </div>   
                  
              </div>
              <div class="col-md-12">
                
                <div class="col-md-6 form-group" style="margin-left: 53%;">
                    <input class="btn btn-flat btn-theme-colored text-uppercase mt-20 mb-sm-30 border-left-theme-color-2-4px" type="submit" value="Save">
                </div>
                <div class="col-md-6" style="margin-left: 38%;">
                    <span class="step"></span>
                    <span class="step active"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </div>
              
            <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            
              
            
            </div>
        </form>
      </div>
      </div>
    </div>
</section>

</div>
<!-- end main-content -->





